/* write your override styles here */
/* 1 tag */
#wall .tag-1 {
  display: none;
}
/* 2 tags */
body #wall #tag-2 {
  display: none;
}

div#wall #tag-3 {
  display: none;
}
/*
body #wall #tag-4 {
  display: none;
}*/
/* 3 tags */
.parent {
  display: none;
}
.parent #tag-7 .slick {
  display: none;
}
